body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: black;
}


h4 {
    font-family: 'Orbitron', sans-serif;
}

.navbar-dark {
    background-color: #2a2a2a !important; /* Slightly darker navbar to match EV charger look */
}

.header {
    background-color: #4CAF50; /* Fresh green color to match electric theme */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.title-centered {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    margin-right: 15%;
}

.logo {
    width: 300px;
    height: 75px;
    margin-right: 20px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.charge-points {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.metrics-card {
    background-color: #ffffff;
    height: 400px;
    border-radius: 15px;
    margin-bottom: 25px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.charger-icon {
    height: 250px;
    width: 200px;
}

.dot {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: inline-block;
}

.card .card-body .status-text {
    font-style: italic;
    font-weight: bold;
    margin-left: 5px;
}

.greyed-out {
    opacity: 0.6;
    pointer-events: none; /* This prevents users from interacting with the card */
}


.metric-card  {
   /* color: #4CAF50;  */ /* Green font color for the metrics card */
    color: white;
    background-color: #2a2a2a;
} 

.metric-card .list-group-item{
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.metric-card .measurand-text{
    font-family: 'Orbitron';
}


.log-console {
    background-color: black; /* Lighter background for logs */
    color: #333; /* Dark text color for logs */
    padding: 10px;
    overflow-y: scroll;
    max-height: 400px;
    border: 1px solid #e0e0e0; /* Lighter border for the logs */
    font-family: Consolas, Menlo, Monaco, 'Courier New', monospace;

}

.log-timestamp {
    color: #FF4500;
    font-family: 'Arial', sans-serif;
}
